#innerpopup .popuptext{
    font-family: theFont;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}
#innerpopup select{
    font-family: theFont;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
}
.menuoptions{
    background: grey;
    padding: 20px;
    border: none;
    outline: none;
    font-family: theFont;
    text-transform: uppercase;
    font-size: 35px;
}
.menuoptions:hover{
    cursor: pointer;
}

#playeroptions{
    display: none;
}

input[type='checkbox'] {
    
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    margin-top: 5px;
}
input[type='checkbox']:checked {
    background: #9C001B !important;
    outline: none;
}

.innerinput{
    font-family: theFont;
    font-size: 30px;
    background: none;
    width: 4em;
    color: white;
}
.innerinput:focus{
    outline: none;
}

.menuPlayer{
    height: 50px;
    width: 80%;
    padding: 10px;
    padding-bottom: 14px;
    border-bottom: 4px solid #9C001B;
  
}

.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.smallerfont{
    font-size: 25px !important;
    border-bottom: none !important;
}

#hostsList{
    list-style-image: none;
    
}