/*
Source Code Font //
font-family: 'Source Code Pro', monospace;

Archivo Black headings font
font-family: 'Archivo Black', sans-serif;

Colors:
//black green:
121713
color: cmky(53%, 41%, 51%, 85%);

white yellow: 
color: cmyk(0%, 3%, 13%, 0%);
fff7de

*/
body{
    background-color: #fff7de;
}
/* START GAME BUTTON */
#generate{
    font-family: 'Archivo Black', sans-serif;
    background: none;
    border: 3px solid black;
    font-size: 40px;
    transition: background-color 0.2s ease-out;
    padding: 5px;
    margin: 20px;
}
#generate:hover{
    cursor: pointer;
    background-color: #6B3934;
    
}
/* CHAT */
#chatdiv{
    width: 25%;
    position:fixed;
    left:0px;
    bottom:0px;
    margin-bottom: 30px;
    border: 1px solid black;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    background-color: rgba(0,0,0, .2);
    
}
#chatdiv ul{
    max-height:200px;
    overflow: auto;
}
#chatdiv button{
    background: none;
    border: 1px solid black;
    outline: none;
    font-family: monospace;
    transition: background-color 0.2s ease-out;
    font-weight: bold;
    font-size: 20px;
}
#chatdiv button:hover{
    background-color: #6B3934;
    cursor: pointer;
}
#chatdiv input{
    background: none;
    height: 22px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    margin: 4px;
}

/* USERLIST */
#usersinRoom{
    width: 25%;
    position: fixed;
    right: 0;
    top: 0;
}
li{
    list-style-type: none;
}

/* TABLE */
#theTable{
    background-image: radial-gradient(#121713 60%, #fff7de 50% );
    min-height: 600px;
    position: relative;
}
#tableLogo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    bottom: 340px;
}
#theBoard li{
    display:inline-block;
    margin:10px;
}
#myCards{
    position: absolute;
    bottom: 0;
    left: 50%;
transform: translateX(-50%);
}
.boardCard{
    width: 80px;
}
.hidden{
    display: none;
}
.opponentCards{
    width: 50px;
}

#card1, #card2{
    width: 200px;
}
